@import "./Base/font";
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Layout/main";


// Eléments principaux de la page

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: $font-principale;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


